.gray-border {
	border: 1px solid gray;
}

.blue-border {
	border: 1px solid blue;
}

.red-border {
	border: 1px solid red;
}

.green-border {
	border: 1px solid green;
}

.header-list {
	background-color: #009688;
}

.header-text {
	color: white;
	padding-left: 20px;
}

.sub-list {
	background-color: #E0F2F1;
}

.sub-list-text {
	color: black;
}


.shadow {
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);	
}

.list-box {
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	margin: 20px;
	padding: 0px;
}

.toolbar-title {
	margin-left: 5px;
	margin-right: 5px;
}

.toolbar-user {
	padding-right: 20px;
}

/* specimen.html classes and ids */

#i-ctx {
	background-color: black;
}

.marginten {
	margin: 10px;
}

.margintoptwenty {
	margin-top: 20px;
}

.margintwenty {
	margin: 20px;
}

.i-input-file {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.thin-btn {
	min-width: 35px;
}

.user-icon {
	border: 1px solid white;
	background-color: gray;
	margin: 5px;
}

#top-block {
	margin-bottom: 10px;
}

.bold {
	font-weight: bold;
}

#header-start {
	margin-left: 10px;
	color: rgba(255,255,255,0.87);
}

#header-link {
	color: rgba(255,255,255,0.87);
}

.log-in {
	margin: 50px;
}

.arrow {
	width: 20px;
}

.see-also-button {
	margin-top: 19px;
	height: 300px;
	min-width: 50px;
	width: 50px;
}

.vertical-text {
	transform: translate(0px, 5px) rotate(270deg);
	transform-origin: center center;
}

.specimen-sn {
	background-color: #E0F2F1;
}

.perspective-sn {
	width: 250px;
	min-width: 250px;
}

.no-wrap {
	white-space: nowrap;
}