<md-content layout="row" layout-margin layout-align="start start" flex>
	<span flex="5"></span>
	<div flex="50">
	<span style="font-weight:bold">AnatDB</span> is an example site demonstrating <a style="font-weight:bold" href="https://github.com/JuliaWinchester/Xfix">Xfix</a>, an open source web app for anatomical education. This app lists anatomical specimens (e.g., bones or realistic plastic models) sorted by chapter or topic. Users can view multiple images of each specimen. Images can be labelled to show specimen structures or regions. For each specimen, it is also possible to see all other specimens with similar structures. The app administrator has the ability to create, edit, and delete chapters, specimens, image views, and labels. 
	</div>
	<span flex="5"></span>
	<md-content layout="column" layout-padding layout-margin class="sub-list shadow" flex="30">
		<div layout="column">
		  	<md-input-container>
		    	<input ng-model="username" placeholder="Username">
		  	</md-input-container>
		  	<md-input-container>
		    	<input ng-model="password" placeholder="Password" type="password" name="password">
		  	</md-input-container>
		  	<md-button class="md-raised md-primary" style="margin-top: 0px" ng-click="login()">
		  		Log in
		  	</md-button>
		</div>
	</md-content>
	<span flex="5"></span>
 </md-content>