<!-- chapter/create.html -->
<md-dialog aria-label="Add new chapter" ng-cloak flex="60">
	<md-toolbar>
		<p class="md-title toolbar-title">Add new chapter</p>
	</md-toolbar>
	<md-dialog-content layout="column" layout-margin>
		<form layout="column">
		<md-input-container>
			<input ng-model="name" placeholder="Chapter name">
		</md-input-container>
		<md-input-container>
			<input ng-model="number" placeholder="Chapter number">
		</md-input-container>
		</form>
	</md-dialog-content>
	<md-dialog-actions layout="row">
		<md-button ng-click="submit()">Submit</md-button>
		<md-button ng-click="cancel()">Cancel</md-button>
	</md-dialog-actions>
</md-dialog>