<!-- specimen/create.html -->
<md-dialog aria-label="Add new specimen" ng-cloak>
	<md-toolbar class="toolbar-title">
		<p>Add new specimen</p>
	</md-toolbar>
	<md-dialog-content layout="row" layout-margin>
		<form>
		<label for="name">Name:</label>
		<input type="text" name="name" ng-model="name" /></br>
		<label for="typeSelect">Type:</label>
		<select name="typeSelect" ng-model="type">
			<option value="Plastic model">Plastic model</option>
			<option value="Bone">Bone</option>
		</select></br>
		<label for="desc">Description:</label>
		<input type="text" name="desc" ng-model="desc" /></br>
		<label for="chapter">Associated Chapter:</label>
		<select name="chapter" ng-model="chapterId">
			<option ng-repeat="chapter in chapters | orderBy:numberFilter track by $index" value="{{chapter.data.id}}" ng-selected="{{chapter.data.id == chapterId}}">{{chapter.data.number}}: {{chapter.data.name}}</option>
		</select></br>
		</form>
	</md-dialog-content>
	<md-dialog-actions layout="row">
		<md-button ng-click="submit()">Submit</md-button>
		<md-button ng-click="cancel()">Cancel</md-button>
	</md-dialog-actions>
</md-dialog>