<!-- specimen/create.html -->
<md-dialog aria-label="Add new specimen" ng-cloak flex="60">
	<md-toolbar>
		<p class="md-title toolbar-title">Add new specimen</p>
	</md-toolbar>
	<md-dialog-content layout="column" layout-margin>
		<form layout="column">
		<md-input-container>
			<input ng-model="name" placeholder="Specimen name">
		</md-input-container>
		<md-input-container>
			<label>Specimen type</label>
			<md-select ng-model="type">
				<md-option value="Plastic model">Plastic model</md-option>
				<md-option value="Bone">Bone</md-option>
			</md-select>
		</md-input-container>
		<md-input-container>
			<input ng-model="desc" placeholder="Short description">
		</md-input-container>
		<md-input-container>
			<label>Associated chapter</label>
			<md-select ng-model="chapterId">
				<md-option ng-repeat="chapter in chapters | orderBy:numberFilter track by $index" value="{{chapter.data.id}}" ng-selected="{{chapter.data.id == chapterId}}">{{chapter.data.number}}: {{chapter.data.name}}</md-option>
			</md-select>
		</md-input-container>
		</form>
	</md-dialog-content>
	<md-dialog-actions layout="row">
		<md-button ng-click="submit()">Submit</md-button>
		<md-button ng-click="cancel()">Cancel</md-button>
	</md-dialog-actions>
</md-dialog>