<!-- perspective/edit.html -->
<md-content layout="row">
  <div layout="column" style="margin-top: 20px">
    <md-button zoom-image-in class="thin-btn">
      <md-icon md-menu-align-target md-font-library="material-icons"> zoom_in </md-icon>
    </md-button>
    <md-button zoom-image-out class="thin-btn">
      <md-icon md-menu-align-target md-font-library="material-icons"> zoom_out </md-icon>
    </md-button>
    <md-button center-image class="thin-btn">
      <md-icon md-menu-align-target md-font-library="material-icons"> filter_center_focus </md-icon>
    </md-button>
  </div>
  <div style="margin-top: 20px">
    <canvas id="i-ctx" draw-edit width="900" height="500"></canvas>
  </div>
  <div layout="column" layout-align="start center" flex>
    <md-sidenav class="perspective-sn md-sidenav-right list-box" md-is-locked-open="true">
      <md-toolbar layout="column" layout-align="center center">
        <p>Perspective</p>
      </md-toolbar>
      <md-content class="sub-list" layout="column" layout-align="start center">
        <input class="marginten" type="text" id="i-txt-1" name="type" ng-model="ptype"/>      
      </md-content>
    </md-sidenav>
    <md-sidenav class="perspective-sn md-sidenav-right list-box" md-is-locked-open="true" flex>
      <md-toolbar layout="row" layout-align="center center">
        <p class="marginten">Structures</p>
      </md-toolbar>
      <md-content class="sub-list" layout="column" layout-align="start center" flex>
        <div class="marginten">
          <input add-structure type="text" id="i-txt-2" name="text1" ng-model="textvar"/>
          <button add-structure class="i-add-btn i-btn">Add</button>
        </div>
        <label ng-repeat="structure in structures track by $index">
          <div id="i-itm-box" layout="row" layout-margin>
            <md-icon delete-one-structure itemid="structure.sNum" id="i-x" md-menu-align-target md-font-library="material-icons"> clear </md-icon>
            <p id="i-itm-txt">{{structure.name}}</p>
          </div>
        </label>     
      </md-content>
    </md-sidenav>
  </div>
</md-content>